

main {
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.main-title {
    text-align: center;
}

.main-section {
    padding: 16px;
    background-color: lightgrey;
    border-radius: 4px;
}

.section-celcius {
    padding-top: 16px
}

.section-fahrenheit {
    padding-top: 16px
}

.section-result {
    padding-top: 16px
}

.section-explanation {
    padding-top: 16px
}

textarea{
    width: 75%;
    height: 32px;
}

.formulasi-suhu {
    font-size: 18px;
    font-style: italic;
}

.formulasi-suhu>sub {
    font-style: normal;
}